html
    head
        title= subject
        include _style
    body
        .full-screen
            p.email-title=`Hi, ${firstName}`
            p.email-paragraph Forgot your password? Submit request with your new password and passwordConfirm
            a.email-button(href=`${url}`) Reset your password
            p.email-paragraph If you do not want to receive any more email, please unsubscribe!
            a.email-button(href='/') Unsubscribe
            p.email-footer Provided by soomera.com, all right reserved.