div.header
    div.navbar
        ul.left-nav
            li.company-logo
                a.logo(href='/overview')
            li.download 
                a.no-submenu(href='/overview') Recipes
        ul.right-nav
            li.login
                a.no-submenu.no-submenu-right(href='/overview') LOGIN
            li.login
               a.no-submenu.no-submenu-right(href='/overview') SIGN UP 
