doctype html
html
    head
        title Main page #{title}
        link(rel='stylesheet' href='http://nodethemepone-env.eba-bt4pp4zq.us-west-1.elasticbeanstalk.com/css/style.css')
        link(rel='shortcut icon' type='image/svg+xml' href='http://nodethemepone-env.eba-bt4pp4zq.us-west-1.elasticbeanstalk.com/img/bookmark.svg')

    body
        h1 Hello world!!!! 
        p this is description
        h1=title 
        p=description.toUpperCase()
        - const x = 'hello'
        h2=x