doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/static/css/style.css')
        link(rel='stylesheet' href='/static/css/navbar.css')
        link(rel='shortcut icon' type='image/svg+xml' href='/static/img/bookmark.svg')
        title #{homepageHeadTitleText}
    body
        //- header
        include _header

        //- content
        block content 
            h1.first-title placeholder setting


        //- footer
        include _footer
                      
    script
      include JS/navbar.js