/* =========================Display/Position/z-index==================== */
.header {
  position: relative;
  max-width: 80rem;
  margin: auto;
}

.navbar {
  position: absolute;
  top: 0rem;
  height: 16rem;
  max-width: 80rem;
  margin: auto;
  width: 100vw;
  background-image: url(../Svg/wave.png), linear-gradient(180deg,#06a52e 100%, #ffffff 20%);
  background-repeat: no-repeat;
  background-position: bottom;
  animation: gradient 170s ease infinite;
}

.navbar>ul>li {
  display: inline-block;
  vertical-align: middle;
}

.navbar>ul>li>a {
  display: inline-block;
  vertical-align: middle;
}

ul>li>a, ul>li>a:active, ul>li>hover {
  color:#ffffff;
  padding: 2rem 0.5rem;
  font-size: 1rem;
}

.navbar>ul>li>a:not(.no-submenu) {
  padding: 1.25rem;
}
.left-nav {
  display: inline-block;
}


.logo {
  display: block;
  background: url(../Svg/logo.svg) no-repeat left center;
  height: 2rem;
  width: 2rem;
  margin: -0.5rem 0.25rem 0rem 0.5rem;
}
.right-nav {
  display: block;
  float: right;
}



/* ===================================================================== */
/* ===============================Animation======================== */
@keyframes gradient {
	0% {
		background-position: 60% 100%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 60% 100%;
	}
}

/* ===================================================================== */
/* ===============================Responsive======================== */

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 800px) and (orientation: portrait) {}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 768px) and (orientation: portrait) {}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 720px) and (orientation: portrait) {}

@media only screen and (max-device-width: 720px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 600px) and (orientation: portrait) {}

@media only screen and (max-device-width: 600px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
@media only screen and (min-device-width: 480px) and (orientation: portrait) {
  .logo {
    height: 4rem;
    width: 4rem;
  }
  ul>li>a, ul>li>a:active, ul>li>hover {
    color:#ffffff;
    padding: 2rem 0.5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 480px) and (orientation: landscape) {
  .logo {
    height: 4rem;
    width: 4rem;
  }
  ul>li>a, ul>li>a:active, ul>li>hover {
    color:#ffffff;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
}

/*--------------------------------------------------------------------------------*/
@media only screen and (max-device-width: 320px) and (orientation: portrait) {}


@media only screen and (max-device-width: 320px) and (orientation: landscape) {}

@media only screen and (max-device-width: 240px) and (orientation: portrait) {}


@media only screen and (max-device-width: 240px) and (orientation: landscape) {}

/*--------------------------------------------------------------------------------*/
