/* =========================Display/Position/z-index==================== */

.header {
	background: linear-gradient(-45deg, #f74d36, #a7d5f0,#ca1f44, #ec6cb3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inline>ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.inline>ul>li {
  display: inline-block;
  vertical-align: middle;
}

.inline>ul>li>a {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  margin: auto;
  width: 100vw;
}
.main-nav {
  display: inline-block;
  margin-left: 3rem;
}
.main-nav>li>a {
  padding: 2rem 0.5rem;
  font-size: 1rem;
}

.logo {
  display: block;
  background: url(../Svg/logo.svg) no-repeat left center;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  margin-top: 0.75rem;
}


/* ===================================================================== */
/* ===============================Margin/Padding======================== */
/* margin */
.navbar>ul>li>a:not(.link-login) {
  padding: 2rem 3rem 2rem 1rem;
}

