/* =========================Display/Position/z-index==================== */
.header {
  position: relative;
  max-width: 80rem;
  margin: auto;
}

.navbar {
  background-image: url(../Svg/wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  animation: gradient 170s ease infinite;
  position: absolute;
  top: 0rem;
  height: 24rem;
  max-width: 80rem;
  background-color: #06a52e;
}

@keyframes gradient {
	0% {
		background-position: 80% 100%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 80% 100%;
	}
}

.inline>ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  z-index: 3;

}

.inline>ul>li {
  display: inline-block;
  vertical-align: middle;
}

.inline>ul>li>a {
  display: inline-block;
  vertical-align: middle;
}
ul>li>a, ul>li>a:active, ul>li>hover {
  color:#ffffff;
}
.navbar {
  margin: auto;
  width: 100vw;
}
.main-nav {
  display: inline-block;
  margin-left: 3rem;
}
.main-nav>li>a {
  padding: 2rem 0.5rem;
  font-size: 1rem;
}

.logo {
  display: block;
  background: url(../Svg/logo.svg) no-repeat left center;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  margin-top: 0.75rem;
}


/* ===================================================================== */
/* ===============================Margin/Padding======================== */
/* margin */
.navbar>ul>li>a:not(.link-login) {
  padding: 2rem 3rem 2rem 1rem;
}

