footer
    .content
        .left.box
            .footer-header About us
            p
                | Find best recipes,
                | Buy delicious foods.
        .middle.box
            .footer-header Our Services
            div
                a(href='#') Catering
            div
                a(href='#') Recipes tutorial
        .right.box 
            .footer-header Contact us
            .phone
                a(href='#')
                    | 001 000 000 0000
            .email
                a(href='#')
                    | !@gmail.com
    .bottom
        p
            | Copyright &copy; 2021 
            a(href='/') All rights reserved