div.header
    div.navbar
        ul.left-nav
            li.company-logo
                a.logo(href='/overview')
        ul.right-nav
            if user 
                li.login
                    a(href='/me')
                        img.nav-user-img(src=`/static/img/users/${user.folder}/${user.photo}`, alt=`photo of ${user.name}`)
            else
                li.login
                    a.no-submenu.no-submenu-right#login.login-icon
                        img.login-image(src="/static/img/theme/login.png")
