div.login-popup
    span.form
        span.form-header-span
            a.form-header-link#login-button.button-active Log in 
            a.form-header-link#signup-button Sign up
        form.login-and-signup-forms.login-form.form-active
            span.email-span
                h3.email-text
                input#email(type='email',name='emails', autocomplete="on", placeholder='Email...')
            span.password-span
                h3.password-text
                input#password(type='password', name='password', autocomplete="on", placeholder='Password...')
            input.form-submit(type='submit', value='Log in')
            h4.forget-password-text forget password
        form.login-and-signup-forms.signup-form
            span.email-span
                h3.email-text
                input#signup-name(type='text',name='name', autocomplete="on", placeholder='Name...')
            span.email-span
                h3.email-text
                input#signup-email(type='email',name='emails', autocomplete="on", placeholder='Email...')
            span.password-span
                h3.password-text
                input#signup-password(type='password', name='password', autocomplete="on", placeholder='Password...')
            span.password-span
                h3.password-text
                input#signup-password-confirm(type='password', name='password', autocomplete="on", placeholder='Password confirm...')
            input.form-submit(type='submit', value='Sign up')
        form.login-and-signup-forms.forget-password-form
            span.email-span
                h3.email-text
                input#forget-password-email(type='email',name='emails', autocomplete="on", placeholder='Email...')
            input.form-submit(type='submit', value='Forget password')
            