extends base
block content 
    div.form-style-6
        h1.account-dashboard-title PASSWORD 
        form.reset-user-password
            input#reset-user-new-password(type='password' name='field5' placeholder='New password')
            input#reset-user-new-password-confirm(type='password' name='field6' placeholder='Confirm password')
            input(type='submit' value='Send')